
<!DOCTYPE html>
<html lang="en">
<head>
    <content th:replace="fragments/init :: head"></content>
    <title>Thay đổi mật khẩu</title>
</head>

<body class="login">
<div>
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form role="form" action="/change_password.html" th:action="@{/account/onchange_pass.html}" method="POST">
                    <h1>Thay đổi mật khẩu</h1>
                    <input type="hidden" name="username" th:value="${username}"/>
                    <div>
                        <input type="password" name="old_password" autofocus="autofocus"
                               class="form-control" placeholder="Old password" required="" th:value="${old_password}"/>
                    </div>
                    <div>
                        <input type="password" id="passwordTxt" name="new_password" class="form-control" placeholder="New password"
                               required="" th:value="${new_password}"/>
                    </div>
                    <div>
                        <input type="password" id="passwordTxtConfirm" name="verify_password" class="form-control"
                               placeholder="Confirm password"
                               required="" th:value="${verify_password}"/>
                    </div>
                    <div>
                        &nbsp;
                        &nbsp;
                        &nbsp;
                        <button class="btn btn-submit btn-width80" type="submit">OK</button>
                        <button class="btn btn-cancel btn-width80" onclick="window.history.back()" type="button">CANCEL</button>
                    </div>

                    <div class="clearfix"></div>

                    <div class="separator">
                        <br/>
                        <div>
                            <p>©2017 - 2018 All Rights Reserved. Privacy and Terms by Yotel Corp. </p>
                            <img alt="" src="/resources/image/yotel-logo-2.png"/>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>
<script language='javascript' type='text/javascript'>
</script>
</body>
</html>

